@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",  sans-serif,$font_en, $font_my;
  color: $black;
  font-weight: 500;
  background-color: $white;
  overflow-x: hidden;
  font-style: normal;

}


//animate
.animate__animated {
  opacity: 0;
}


h1, h2, h3, p, figure,
ul {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  width: vw($sp-width, 660);
  @include mq(pc) {
	width: vw($pc-width, 1020);
  }
  @include mq(lpc) {
    width: 1020px!important;
  }
}


.pc-only {
  display: none;
  @include mq(pc) {
	display: block;
  }
}

.sp-only {
  display: block;
  @include mq(pc) {
	display: none;
  }
}

.section__title {
    font-size: vw($sp-width, 50);
    font-family: "YuGothic", serif;
     color: #7c6f7b;
    font-weight: bold;
    line-height: 1.533;
    text-align: center;
  @include mq(pc) {
    font-size:vw($pc-width, 46);
    line-height: 1.666;
  }
  @include mq(lpc) {
    font-size:46px;
  }
}

.section__sub-title {
  font-size: vw($sp-width, 26);
  font-family: $font-en;
  color: rgb(203, 196, 202);
  font-weight: bold;
  line-height: 1.038;
  text-align: center;
  @include mq(pc) {
    font-size: vw($pc-width, 26);
  }
  @include mq(lpc) {
    font-size: 26px;
  }
}

.gray {
  color: #717171;
}

.bk {
  color: $black;
}

.sbk {
  color: $black_sub;
}
.en {
  font-family: $font_en;
}

.my {
  font-family: $font_my;
}

.yu {
  font-family: "YuGothic", serif;
}
.ac-text {
  color: #ff7165;
}



.another-text {
  color: #5b80b2;
}

.content {
  @include mq(lpc) {
    width: 1200px!important;
    margin: 0 auto;
  }
}

