
.dev-table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  @include mq(pc) {
	width: vw($pc-width, 963);
  }
  @include mq(lpc) {
	width: 963px;
  }
  
  
  &__wrapper {
	padding: vw($sp-width, 70) 0 vw($sp-width, 80);
	@include mq(pc) {
	  padding: 0.75vw 0 vw($pc-width, 42);
	}
  }
  
  &__title {
	width: vw($sp-width, 70);
	@include mq(pc) {
	  width: vw($pc-width, 148);
	}
	@include mq(lpc) {
	  width: 148px;
	}
  }
  
  &__main {
	border-radius: 20px 20px 0 0;
	padding: vw($sp-width, 38) vw($sp-width, 10);
	border: 2px solid #fff;
	background-color: rgb(255, 222, 192);
	@include mq(pc) {
	  padding: vw($pc-width, 20) vw($pc-width, 45);
	}
	@include mq(lpc) {
	  padding: 20px 45px;
	}
  }
  
  &__main-td {
	padding: vw($sp-width, 74) 0 vw($sp-width, 24);
	font-size: vw($sp-width, 24);
	font-weight: bold;
	line-height: 1.25;
	letter-spacing: -1px;
	text-align: center;
	border: 2px solid #fff;
	background: #ffecdb;
	position: relative;
	@include mq(pc) {
	  padding: vw($pc-width, 77) 0 vw($pc-width, 24);
	  font-size: vw($pc-width, 20);
	}
	@include mq(lpc) {
	  padding: 77px 0  24px;
	  font-size: 20px;
	}
	
	&::before {
	  content: "";
	  position: absolute;
	  top: vw($sp-width, 24);
	  left: 50%;
	  transform: translateX(-50%);
	  width: vw($sp-width, 40);
	  height: vw($sp-width, 40);
	  background: url("/assets/img/dc@2x.png") center center no-repeat;
	  background-size: contain;
	  @include mq(pc) {
		top: vw($pc-width, 24);
		width: vw($pc-width, 40);
		height: vw($pc-width, 40);
	  }
	  @include mq(lpc) {
		top: 24px;
		width: 40px;
		height: 40px;
	  }
	}
  }
  
  &__main-td.en {
	font-size: vw($sp-width, 38);
	@include mq(pc) {
	  font-size: vw($pc-width, 36);
	}
	@include mq(lpc) {
	  font-size: 36px;
	}
  }
  
  &__logo {
	width: vw($sp-width, 160);
	height: vw($sp-width, 50);
	@include mq(pc) {
	  width: vw($pc-width, 170);
	  height: vw($pc-width, 50);
	}
	@include mq(lpc) {
	  width: 170px;
	  height: 50px;
	}
  }
  
  &__tr {
	border: 2px solid #fff;
  }
  
  &__th {
	white-space: nowrap;
	vertical-align: middle;
	width: vw($sp-width, 70) !important;
	background: url(/assets/img/th_bg.png) center center no-repeat;
	background-size: cover;
	border: 2px solid #fff;
	font-size: vw($sp-width, 20);
	color: rgb(76, 64, 64);
	font-weight: bold;
	line-height: 1.25;
	letter-spacing: -1.9px;
	text-align: center;
	@include mq(pc) {
	  font-size: vw($pc-width, 20);
	}
	@include mq(lpc) {
	  font-size: 20px;
	}
  }
  
  &__th-sub {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 6vw;
	padding: vw($sp-width, 20) 0;
	border-radius: 18px 18px 0 0;
	background: #dfdfdf;
	background-size: cover;
	border: 2px solid #fff;
	white-space: nowrap;
	font-size: vw($sp-width, 26);
	color: rgb(124, 111, 123);
	font-weight: bold;
	line-height: 1.167;
	letter-spacing: -3.6px;
	text-align: center;
	height: vw($sp-width, 100);
	@include mq(pc) {
	  height: vw($pc-width, 93);
	  font-size: vw($pc-width, 24);
	}
	@include mq(lpc) {
	  margin-top: 136px;
	  height: 93px;
	  font-size: 24px;
	}
  }
  
  &__sub-td {
	padding: vw($sp-width, 74) 0 vw($sp-width, 24);
	background-color: rgb(245, 245, 245);
	border: 2px solid #fff;
	font-size: vw($sp-width, 24);
	font-weight: bold;
	line-height: 1.25;
	letter-spacing: -1.2px;
	text-align: center;
	position: relative;
	@include mq(pc) {
	  padding: vw($pc-width, 77) 0 vw($pc-width, 24);
	  font-size: vw($pc-width, 20);
	}
	@include mq(lpc) {
	  padding: 77px 0 24px;
	  font-size: 20px;
	}
	
	&::before {
	  content: "";
	  position: absolute;
	  top: vw($sp-width, 24);
	  left: 50%;
	  transform: translateX(-50%);
	  width: vw($sp-width, 40);
	  height: vw($sp-width, 40);
	  background-size: contain;
	  @include mq(pc) {
		top: vw($pc-width, 24);
		width: vw($pc-width, 40);
		height: vw($pc-width, 40);
	  }
	  @include mq(lpc) {
		top: 24px;
		width: 40px;
		height: 40px;
	  }
	}
  }
  
  &__sub-td.en {
	font-size: vw($sp-width, 34);
	@include mq(pc) {
	  font-size: vw($pc-width, 30);
	}
	@include mq(lpc) {
	  font-size: 30px;
	}
  }
  
  &__span {
	font-size: vw($sp-width, 22);
	@include mq(pc) {
	  font-size: vw($pc-width, 21);
	}
	@include mq(lpc) {
	  font-size: 21px;
	}
  }
}

.t-center {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mq(pc) {
	margin-top: 2.7vw;
	height: vw($pc-width, 132);
  }
  @include mq(lpc) {
	margin-top: 100px;
	height: 132px;
  }
  @include mq(xpc) {
	margin-top: 110px;
  }
}

.c::before {
  background: url("/assets/img/c@2x.png") center center no-repeat;
  background-size: contain;
}

.t::before {
  background: url("/assets/img/tri@2x.png") center center no-repeat;
  background-size: contain;
}

.cross::before {
  background: url("/assets/img/cross@2x.png") center center no-repeat;
  background-size: contain;
}