.header {
  width: 100%;
  height: vw($sp-width, 80);
  @include mq(pc) {
	height: vw($pc-width, 70);
  }
  @include mq(lpc) {
	height: 70px;
  }
  
  &__inner {
	width: vw($sp-width, 720);
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include mq(pc) {
	  width: vw($pc-width, 1160);
	}
	@include mq(lpc) {
	  width: 1160px;
	}
  }
  
  &__logo {
	width: vw($sp-width, 198);
	height: vw($sp-width, 60);
	@include mq(pc) {
	  width: vw($pc-width, 171);
	  height: vw($pc-width, 51);
	}
	@include mq(lpc) {
	  width: 171px;
	  height: 51px;
	}
  }
  
  &__items {
	display: flex;
	align-items: center;
	gap: vw($sp-width, 10);
	@include mq(pc) {
	  gap: 6px;
	}
  }
  
  &__link--small {
	white-space: nowrap;
	padding: vw($sp-width, 14) vw($sp-width, 40);
	font-size: vw($sp-width, 24);
	text-align: center;
	color: rgb(255, 254, 254);
	font-weight: bold;
	background: linear-gradient(180deg, rgb(255, 150, 53) 1%, rgb(252, 219, 0) 99%);
	border-radius: 28px;
	@include mq(pc) {
	  padding: vw($pc-width, 10) vw($pc-width, 42);
	  font-size: vw($pc-width, 18);
	}
	@include mq(lpc) {
	  padding: 10px 42px;
	  font-size: 18px;
	}
  }
  
  &__link--large {
	white-space: nowrap;
	padding: vw($sp-width, 14) vw($sp-width, 22);
	font-size: vw($sp-width, 24);
	text-align: center;
	color: rgb(255, 254, 254);
	font-weight: bold;
	border-radius: 28px;
	background-image: linear-gradient(180deg, rgb(255, 113, 102) 1%, rgb(255, 150, 53) 99%);
	@include mq(pc) {
	  padding: vw($pc-width, 10) vw($pc-width, 30);
	  font-size: vw($pc-width, 18);
	}
	@include mq(lpc) {
	  padding: 10px 30px;
	  font-size: 18px;
	}
  }
}
