.image {
  &__cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include mq(pc) {
	  flex-direction: row;
	  gap: 0;
	}
  }
  
  &__card1 {
	padding: vw($sp-width, 50) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: rgb(255, 241, 240);
	@include mq(pc) {
	  align-items: end;
	  padding: vw($pc-width, 69) vw($pc-width, 38) vw($pc-width, 50) 0;
	  width: 50%;
	}
	@include mq(lpc) {
	  align-items: end;
	  padding: 69px 38px 50px 0;
	  width: 50%;
	}

	
	&__main {
	  white-space: nowrap;
	  padding: vw($sp-width, 7) vw($sp-width, 32);
	  display: inline-block;
	  font-size: vw($sp-width, 22);
	  color: rgb(255, 255, 255);
	  font-weight: bold;
	  line-height: 1.273;
	  text-align: center;
	  background-color: rgb(255, 113, 101);
	  border-radius: 30px;
	  @include mq(pc) {
		margin-right: 9vw;
		margin-bottom: 1vw;
		padding: vw($pc-width, 3) vw($pc-width, 22);
		font-size: vw($pc-width, 22);
	  }
	  @include mq(lpc) {
		margin-right: 108px;
		margin-bottom: 12px;
		padding:  3px 22px;
		font-size:  22px;
	  }
	}
	
	&__main-img {
	  width: vw($sp-width, 455);
	  height: vw($sp-width, 320);
	  @include mq(pc) {
		padding-top: 1.5vw;
		margin-left: auto;
		width: 24vw;
		height: vw($pc-width, 270);
	  }
	  @include mq(lpc) {
		padding-top: 18px;
		margin-left: auto;
		width: 288px;
		height: 270px;
	  }
	}
  }
  
  &__card__main-text {
	margin-top: vw($sp-width, 26);
	font-size: vw($sp-width, 22);
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.38;
	letter-spacing: -0.9px;
	text-align: center;
	
	@include mq(pc) {
	  margin-top: -2.833333vw;;
	  font-size: vw($pc-width, 20);
	}
	@include mq(lpc) {
	  margin-top: -32px;
	  font-size: 20px;
	}
  }
  
  &__card-dev {
	position: relative;
	padding-right: 10px;
	@include mq(pc){
	  text-align: right;
	}
	&::after {
	  position: absolute;
	  content: "※1";
	  font-size: 10px;
	  right: 0;
	  top: 0;
	}
  }
  
  &__card2 {
	background-color: rgb(228, 235, 240);
	padding: vw($sp-width, 50) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	@include mq(pc) {
	  padding: vw($pc-width, 69) 0 vw($pc-width, 50) vw($pc-width, 38);
	  width: 50%;
	  align-items: start;
	}
	@include mq(lpc) {
	  padding:  69px 0  50px  38px;
	}

	&__card-another {
	  
	  @include mq(pc){
		text-align: left;
	  }
	}
	
	&__another {
	  white-space: nowrap;
	  padding: vw($sp-width, 7) vw($sp-width, 32);
	  font-size: vw($sp-width, 22);
	  display: inline-block;
	  color: #7c6f7b;
	  font-weight: bold;
	  line-height: 1.273;
	  text-align: center;
	  border-radius: 30px;
	  border: solid 1px rgb(124, 111, 123);
	  @include mq(pc) {
		margin-right: 17vw;
		margin-bottom: 1vw;
		padding: vw($pc-width, 3) vw($pc-width, 22);
		font-size: vw($pc-width, 20);
	  }
	  @include mq(lpc) {
		margin-right: 204px;
		margin-bottom: 12px;
		padding:  3px  22px;
		font-size:  20px;
	  }
	}
	
	&__another-img {
	  width: vw($sp-width, 455);
	  height: vw($sp-width, 320);
	  @include mq(pc) {
		margin-right: auto;
		width: 24vw;
		height: vw($pc-width, 270);
	  }
	  @include mq(lpc) {
		margin-right: auto;
		width: 288px;
		height:  270px;
	  }
	}
  }
}