.mv {
  padding-top: vw($sp-width, 240);
  width: 100vw;
  height: vw($sp-width, 894);
  background-image: url(/assets/img/sp_mv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq(pc) {
	padding-top: vw($pc-width, 130);
	height: vw($pc-width, 681);
	background-image: url(/assets/img/mv@2x.jpg);
  }
  @include mq(lpc) {
	padding-top: 130px;
	height: 681px;
	background-position: top center;
  }

  
  &__top-image {
	margin-left: vw($sp-width, -35);
	@include mq(pc) {
	  margin-left: vw($pc-width, -35);
	}@include mq(lpc) {
	   margin-left: -35px;
	 }
  }
  
  
  &__message {
	width: vw($sp-width, 434);
	height: vw($sp-width, 220);
	@include mq(pc) {
	  width: vw($pc-width, 516);
	  height: 11vw;
	}
	@include mq(lpc) {
	  width: 516px;
	  height: 132px;
	}
  }
  
  &__bottom-image {
	margin-top: vw($sp-width, 40);
	margin-left: auto;
	width: vw($sp-width, 572);
	@include mq(pc) {
	  margin-top: vw($pc-width, 36);
	  width: vw($pc-width, 577);
	}
	@include mq(lpc) {
	  margin-top: 36px;
	  width:  577px;
	}
	
  }
  
  &__text {
	  font-size:vw($sp-width, 26);
	  color: rgb(255, 255, 255);
	  font-weight: bold;
	  line-height: 1.615;
	  text-align: left;
	@include mq(pc) {
	  font-size:vw($pc-width, 24);
		line-height: 1.75;
	}
	@include mq(pc) {
	  font-size: 24px;
	}
  }
  
  &__title {
	margin-top: vw($sp-width, 40);
	width: vw($sp-width, 572);
	height: vw($sp-width, 153);
	@include mq(pc) {
	  margin-top: vw($pc-width, 50);
	  width: vw($pc-width, 572);
	  height: vw($pc-width, 153);
	}
	@include mq(lpc) {
	  margin-top: 50px;
	  width:  572px;
	  height:  153px;
	}
  }
}