.tutor {
  padding-top: vw($sp-width, 60);
  padding-bottom: vw($sp-width, 90);
  background-color: #f5f5f5;
  @include mq(pc) {
	padding: 4vw 0;
  }
  @include mq(lpc) {
	padding: 48px 0;
  }
  
  &__title {
	margin: vw($sp-width, 40) 0;
	font-size: vw($sp-width, 36);
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.278;
	text-align: center;
	letter-spacing: 1.2px;
	@include mq(pc) {
	  margin-top: 2vw;
	  margin-bottom: 3vw;
	  font-size: vw($pc-width, 26);
	  line-height: 1.385;
	}
	@include mq(lpc) {
	  margin-top: 24px;
	  margin-bottom: 36px;
	  font-size: 26px;
	}
  }
  
  &__card {
	width: 95%;
	height: vw($sp-width, 770);
	padding: vw($sp-width, 40);
	background-color: rgb(255, 255, 255);
	@include mq(pc) {
	  height: vw($pc-width, 380);
	  width: vw($pc-width, 947);
	  padding: vw($pc-width, 37);
	}
	@include mq(lpc) {
	  height:  380px;
	  width:  947px;
	  padding:  37px;
	}
  }
  
  &__img {
	width: 100%;
	height: vw($sp-width, 348);
	@include mq(pc) {
	  width: vw($pc-width, 487);
	  height: vw($pc-width, 298);
	}
	@include mq(lpc) {
	  width:  487px;
	  height:  298px;
	}
  }
  
  &__name {
	margin-bottom: $sp-width, 20;
	font-size: vw($sp-width, 40);
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 0.925;
	text-align: left;
	@include mq(pc) {
	  margin-top: vw($pc-width, 34);
	  margin-bottom: vw($pc-width, 4);
	  font-size: vw($pc-width, 32);
	}
	@include mq(lpc) {
	  margin-top: 34px;
	  margin-bottom: 4px;
	  font-size: 32px;
	}
  }
  
  &__en {
	margin-bottom: vw($sp-width, 28);
	font-family: $font-en;
	font-size: vw($sp-width, 26);
	text-align: left;
	letter-spacing: 1.2px;
	line-height: 1.5;
	@include mq(pc) {
	  margin-bottom: vw($pc-width, 23);
	  font-size: vw($pc-width, 16);
	}
	@include mq(lpc) {
	  margin-bottom: 23px;
	  font-size:  16px;
	}
  }
  
  &__desc {
	font-size: vw($sp-width, 26);
	color: rgb(0, 0, 0);
	line-height: 1.385;
	text-align: left;
	@include mq(pc) {
	  margin-top: vw($pc-width, -38);
	  font-size: vw($pc-width, 18);
	}
	@include mq(lpc) {
	  margin-top:  -38px;
	  font-size:  18px;
	}
  }
}

.slide-arrow {
  bottom: 0;
  cursor: pointer;
  margin: auto;
  position: absolute;
  top: 0;
	width: vw($sp-width, 60);
  }


.prev-arrow {
  left: 6vw;
  z-index: 10;
  
  
}
.next-arrow {
  right: 6vw;
  
}


@include mq(pc) {
  .tutor__card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	gap: 0px 30px;
	grid-auto-flow: row;
	grid-template-areas:
    "tutor__img tutor__name"
    "tutor__img tutor__en"
    "tutor__img tutor__desc";
  }
  
  .tutor__img {
	grid-area: tutor__img;
  }
  
  .tutor__name {
	grid-area: tutor__name;
  }
  
  .tutor__en {
	grid-area: tutor__en;
  }
  
  .tutor__desc {
	grid-area: tutor__desc;
  }
  


.slide-arrow {
  bottom: 0;
  cursor: pointer;
  margin: auto;
  position: absolute;
  top: 0;
  width: vw($pc-width, 41);
  @include mq(sp){
	width: vw($sp-width, 60);
  }
	
  }

.prev-arrow {
  left: 6vw;
  z-index: 10;

 
}
.next-arrow {
  right: 6vw;
 
}
}


@include mq(lpc) {


.slide-arrow {
	width: 41px;
  }

.prev-arrow {
	left: 96px;
  }

.next-arrow {
  right: 96px;
}
}

