$black: #000000;
$black_sub:#222;
$glay: #212529;
$white: #fffefe;
$green-color: #63977E;
$border-color: #808080;
$border-card-color: #A9A9A9;

$sp-width: 750;
$pc-width: 1200;

$font_en:'Manrope';
$font_my:"myriad-pro";