.step {
  padding-top: vw($sp-width, 70);
  padding-bottom: vw($sp-width, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(pc) {
	padding-top: 4vw;
	padding-bottom: 4.5vw;
  }
  @include mq(lpc) {
	padding-top: 48px;
	padding-bottom: 54px;
  }
  
  &__top {
	display: inline-block;
	padding: 0 vw($sp-width, 38);
	font-size: vw($sp-width, 34);
	color: rgb(124, 111, 123);
	font-weight: bold;
	line-height: 1.941;
	text-align: center;
	position: relative;
	@include mq(pc) {
	  padding: 0 vw($pc-width, 38);
	  font-size: vw($pc-width, 30);
	}
	@include mq(lpc) {
	  padding: 0 38px;
	  font-size: 30px;
	}
	
	&::before {
	  content: '';
	  position: absolute;
	  width: vw($sp-width, 36);
	  height: vw($sp-width, 36);
	  left: 0;
	  top: 50%;
	  transform: translateY(-50%);
	  background: url("/assets/img/lstep@2x.png") center center no-repeat;
	  background-size: contain;
	  @include mq(pc) {
		width: vw($sp-width, 31);
		height: vw($sp-width, 31);
	  }
	  @include mq(lpc) {
		width: 31px;
		height: 31px;
	  }
	}
	
	&::after {
	  content: '';
	  position: absolute;
	  width: vw($sp-width, 36);
	  height: vw($sp-width, 36);
	  right: 0;
	  top: 50%;
	  transform: translateY(-50%);
	  background: url("/assets/img/rstep@2x.png") center center no-repeat;
	  background-size: contain;
	  @include mq(pc) {
		width: vw($sp-width, 31);
		height: vw($sp-width, 31);
	  }
	  @include mq(lpc) {
		width: 31px;
		height: 31px;
	  }
	}
  }
  
  &__wrapper {
	display: block;
	margin-top: vw($sp-width, 90);
	@include mq(pc) {
	  margin-top: vw($pc-width, 90);
	  display: flex;
	  align-items: flex-start;
	  justify-content: space-between;
	}
  }
  
  &__card {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: vw($sp-width, 40);
	@include mq(pc) {
	  gap: 0;
	}
	
	& + & {
	  margin-top: vw($sp-width, 80);
	  @include mq(pc) {
		margin: 0;
	  }
	}
	
	@include mq(pc) {
	  display: block;
	  width: 30%;
	}
  }
  
  &__img {
	position: relative;
	width: vw($sp-width, 330);
	height: vw($sp-width, 210);
	flex-shrink: 0;
	@include mq(pc) {
	  width: vw($pc-width, 310);
	  height: vw($pc-width, 200);
	}
	@include mq(lpc) {
	  width: 310px;
	  height: 200px;
	}
	
	&::before {
	  content: '';
	  position: absolute;
	  width: vw($sp-width, 84);
	  height: vw($sp-width, 77);
	  left: vw($sp-width, 17);
	  top: vw($sp-width, -44);
	  @include mq(pc) {
		width: 8vw;
		height: vw($pc-width, 77);
		left: vw($pc-width, 17);
		top: vw($pc-width, -44);
	  }
	  @include mq(lpc) {
		width: 96px;
		height: 77px;
		left: 17px;
		top: -44px;
	  }
	}
  }
  
  &__desc-title {
	font-size: vw($sp-width, 30);
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.2;
	@include mq(pc) {
	  margin-top: vw($pc-width,31);
	  margin-bottom: vw($pc-width, 16);
	  font-size: vw($pc-width, 22);
	}
	@include mq(lpc) {
	  margin-top: 31px;
	  margin-bottom:  16px;
	  font-size:  22px;
	}
  }
  
  &__desc-text {
	margin-top: vw($sp-width, 10);
	font-size: vw($sp-width, 26);
	color: rgb(0, 0, 0);
	line-height: 1.385;
	@include mq(pc) {
	  margin-top: 0;
	  font-size: vw($pc-width, 18);
	}
	@include mq(lpc) {
	  font-size:18px;
	}
  }
}

.step1::before {
  background: url("/assets/img/01@2x.png") center center no-repeat;
  background-size: contain;
}

.step1::after {
  content: '';
  position: absolute;
  width: vw($sp-width, 28);
  height: vw($sp-width, 14);
  right: 50%;
  transform: translateY(-50%);
  bottom: vw($sp-width, -28);
  background: url(/assets/img/step_arrow.png) center center no-repeat;
  background-size: contain;
  @include mq(pc) {
	right: vw($pc-width, -27);
	top: 50%;
	transform: translateY(-50%);
	width: vw($pc-width, 14);
	height: vw($pc-width, 28);
	transform: rotate(-90deg);
  }
  @include mq(lpc) {
	right: -27px;
	width: 14px;
	height: 28px;
  }
}

.step2::before {
  background: url("/assets/img/02@2x.png") center center no-repeat;
  background-size: contain;
}

.step2::after {
  content: '';
  position: absolute;
  width: vw($sp-width, 28);
  height: vw($sp-width, 14);
  right: 50%;
  transform: translateY(-50%);
  bottom: vw($sp-width, -28);
  background: url(/assets/img/step_arrow.png) center center no-repeat;
  background-size: contain;
  @include mq(pc) {
	right: vw($pc-width, -27);
	top: 50%;
	transform: translateY(-50%);
	width: vw($pc-width, 14);
	height: vw($pc-width, 28);
	transform: rotate(-90deg);
  }
  @include mq(pc) {
	right:-27px;
	width: 14px;
	height: 28px;
	  }
  
}

.step3::before {
  background: url("/assets/img/03@2x.png") center center no-repeat;
  background-size: contain;
}